.atom/
.dart_tool/
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.gradle/
.idea
.packages
.pub/
.vscode/
android/.gradle
android/app/build.gradle
android/local.properties
build/
flutter_export_environment.sh
ios/.generated/
ios/Flutter/flutter_export_environment.sh
keystore.file
local.properties
packages